html, body {
    min-height: 100%;
}

body {
    background: #121212 url(/static/img/public/bg.png);
}

#shell-outer {
    background: #0E629E;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.85);*/
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0 1.5px 1.5px rgba(0,0,0,0.85);
    /*border-bottom: 1px rgba(0,0,0,0.4) solid;*/
}

#shell {
    margin:0 auto;
    padding:10px 0;
}

#de-logo a {
    display: block;
    margin: 0px 30px 6px 0;
    width: 225px;
    height: 48px;
    background: url(/static/img/global/logo-US.png) top left no-repeat;
    position: relative;
    left: 2px;
}

.de-public-container {
    padding: 30px;
    border: 1px #ddd solid;
    background: #fff;
    border-radius: 6px 6px;
    /*box-shadow: 0 0 8px rgba(0,0,0,0.4);*/
}

#userNameLogin {
    padding-bottom: 24px;
}

#userNameLogin form {
    padding: 0;
}

#userNameLogin input {
    background: #fff;
}

.errors {
    background: rgba(0,0,0,0.1);
}

.search-or {
    padding: 32px 0 0 0;
    text-align: center;
}

.btn-de {
    background: #37b1ff;
    border-color: #15a4ff;
    color: #fff;
}

.btn-de:hover,
.btn-de:active,
.btn-de:focus {
    color: #fff;
    background: #15a4ff;
}

.outer-wrapper {
    margin:0;
    padding: 20px 20px 70px;
}

.inner-wrapper {
    /*min-width:400px;*/
    max-width:960px;
    margin:20px auto;
    box-shadow: 2px 1px 6px #ccc;
}




#footer-copyright {
    color: white;
    font-size: 11px;
    background: #000;
    padding: 10px 5px 15px;
    line-height: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-height: 550px) {
    #footer-copyright {
        position: fixed;
        width: 100%;
    }
}

/* GAiello - ugly additions below */
label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

#newUserForm input.error, #newUserForm select.error {
    border: 1px solid red;
}

#usernameResponse, #emailResponse {
    font-size: 14px;
    margin-left: 10px;
}

.success {
    color: #008300;
}

.error {
    color: #f00;
}

#agreeTermsOfUse {
    margin-top: 0;
}

#table-wrap {
    padding: 34px 0 0 0;
}

#table-container {
    width: 100%;        /* table width will be 99% of this*/
    min-height: 100px;
    max-height: 245px;     /* must be greater than tbody*/
    overflow: auto;
    margin: 0 auto;
}

table.MyData {
    width: 98%;        /*100% of container produces horiz. scroll in Mozilla*/
    border: none;
    background-color: #f7f7f7;
}

table.MyData > tbody {
    overflow: auto;
    height: 180px;
    overflow-x: hidden;
}

thead td.MyData, thead th.MyData {
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid #ddd;
}

td.MyData    {
    padding-right: 2px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #ddd;
    height: 18px ;
}

thead td.MyData, tfoot td.MyData    {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
}

.rollOver, .schoolData.rollOver:hover {
    cursor: pointer;
    background-color: #cde8fc;
}

.schoolData:hover {
    cursor: pointer;
    background-color: #eee;
}

#school-search-container {
    background-color: #f9f9f2;
    margin: 5px 0 8px;
    padding: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: none;
}

#school-search-container p {
    clear: both;
    font-size: 14px;
    margin: 15px 10px 15px;
}

.form-error .error {
    display: inline;
    font-size: 13px;
    color: #f00;
}

#schools {
    display: none;
}

.loading {
    display: inline-block;
    width: 25px;
    height: 25px;
}


.search-wrap {
    padding: 10px 0 0;
}

.search-wrap .help-block {
    padding-bottom: 11px;
}

.search-wrap p {
    margin-bottom: 20px;
}

.search-wrap .span3 {
    margin-left: 0;
}

#terms-wrap {
    margin: 30px 0 10px;
}

#terms-wrap label {
    display: inline;
}

td.school-name {
    text-align: left;
    padding-left: 5px;
}

input[type="radio"].school-name-group {
    margin: 0;
}

.important {
    font-weight: bold;
}

#signUp {
    margin-left: 0;
}

#freeAccess {
    padding: 10px 24px 28px;
}

#freeAccess li {
    line-height: 20px;
}


#loginText img {
    float: left;
    margin: 4px;
    width:100px;
}

#loginDiv {
    margin-top: -15px;
}

/*New User form styles*/

/*#newUserForm fieldset {
    display:none;
}*/

#newUserForm.inner-wrapper {
    margin-bottom:80px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background-color:#fff;
    padding: 10px 30px 15px 30px;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
          box-shadow:  0 0 2px rgba(0,0,0,0.3);
}

#newUserForm .pager .disabled {
    display:none;
}

.bootstrapped #newUserForm fieldset {
    padding: 0 0 24px;
}

#newUserForm button#manualSchoolInputBtn {
    margin-top: 10px;
}

#error-alert {
    display:none;
}

.form-links {
    line-height: 20px;
    font-size: 0.95em;
    list-style: none;
    padding: 0;
    margin: 0;
}

#public-login-btn {
    margin: 8px 8px 0 0;
}

#return-container {
    position: relative;
    padding: 10px;
    background: #000;
    background: rgba(80,80,80,0.85);
}

#return-link {
    border-radius: 4px;
    background: #ccc;
    color:#121212;
    padding: 8px 12px;
}

#return-link:hover {
    text-decoration: none;
}
